/*Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 505px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 40%;
    background-color: #6D1715;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    animation-name: ProfileImgAnimation;
    animation-duration: 4s;
    
}
.image .profile-img{
    height: 100%;
    width: 100%;
    border-radius: 40%;
    object-fit: cover;
    border: 3px solid #fff;
    animation-name: ProfileImgAnimation;
    animation-duration: 4s;
    
   
}
@keyframes  ProfileImgAnimation {
    0% {border-radius: 50% 50% 50% 50% ;}
    25% {border-radius: 40% 40% 40% 40% ;}
    50% {border-radius: 25% 25% 25% 25% ;}
   
 
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text-data .name{
    font-size: 25px;
    font-weight: 850;
    position: relative;
    color: #ffffff;;
    -webkit-text-stroke: 1.8px #6D1715;
    text-transform: uppercase;
}
.text-data .name::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #6D1715;
    -webkit-text-stroke: 0px #6D1715;
    overflow: hidden;
    animation: animatename 4s linear 1;
}
@keyframes animatename{
    0%,10%,100%{ width: 0%;}
    70%,90%{ width: 100%;}
}
.text-data .status{
    font-size: 15px;
    font-weight: 300;
    color: #333;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6D1715;
    margin: 5px 12px;
    background-color: #f4f4f4;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.media-buttons a:hover{
    color: #ff2724;
    
}
.box {
    background: #6d1615;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-self: flex-start;
    justify-content: center; /* Center horizontally */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
